.login .section {
    margin: auto 10px;
    position: absolute;
    top: calc(50% - 160px);
}

.login input {
    border: none;
    border-radius: 25px;
    color: #9f9d98;
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0 25px 0;
    outline-color: transparent;
    padding: 10px 20px;
}

.login .login-form {
    padding: 0 20%;
}

.login .btn-submit {
    margin-top: 25px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .login .login-form {
        padding: 0;
    }
}
